.me-auto * {
<<<<<<< HEAD
  margin-left: 180px;
=======
  margin-left: 100px;
>>>>>>> 9221dbe (commit 9)
  text-decoration: none;
  color: gray;
  padding: 10px;
}
.btnn{
  color: blue;
  font-weight: bold;
  border:none;
  justify-content: end;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;;
  border-radius: 8px;
}
.bgl{
  background-image: url(../public/111.jpg);
  padding-top: 40px;
  padding-bottom: 49px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bgr{
  background-image: url(../public/111.jpg);
  padding-top: 1px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.log{
  width: 30%;
  margin: auto;
  margin-top: 90px;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.1);

}
.login{
  text-align: center;
  padding-top: 70px;
}
.login h1 {
  color: #333;
  margin-bottom: 80px;
}
.login input{
  width: 300px;
  margin: auto;
}
.login button{
  margin-top: 50px;
  margin-bottom: 20px;
}
.homed *{
  height: 550px;
  
}
.homed{
  margin: auto;
  margin-top: 20px; 
  width: 98%;
}